<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="footer" th:fragment="footer">
  <footer class="page-footer font-small cyan darken-3">
    <div class="footer-copyright text-center py-3" >
            <span class="footer-area">상호 : 플러피퍼피(FLUFFY PUPPY)<br>
                대표 : 이혜린 <br>
                주소 : 서울시 송파구 송파대로 624 <br>
                대표번호 : 02-2000-1111
                (C)플러피퍼피 All Rights Reserved
            </span>
      <span class="footer-area">
                <h5>고객센터 TEL ) 02-2307-1111
                </h5>
                평일 : 오전 10시 ~ 오후 6시 (점심시간 오후 12:00 ~ 오후 01:00)<br>
                주말 : 오전 10시 ~ 오후 2시 (일요일, 공휴일 휴무)
            </span>
    </div>
  </footer>
</div>


</html>