<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header" class="header">
        <div class="headerTop">
            <ul class="myInfo">
                <li class="top" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a href="/admin/item/new">상품 등록</a>
                </li>
                <li class="top" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a href="/admin/items">상품 관리</a>
                </li>
                <li class="top" sec:authorize="hasAnyAuthority('ROLE_USER')">
                    <a href="/orders">주문내역</a>
                </li>
                <li class="top" sec:authorize="hasAnyAuthority('ROLE_USER')">
                    <a href="/cart">장바구니</a>
                </li>
                <li class="top" sec:authorize="isAuthenticated()">
                    <a href="/mypage">마이페이지</a>
                </li>
                <li class="top" sec:authorize="isAnonymous()">
                    <a href="/members/login">로그인</a>
                </li>
                <li class="top" sec:authorize="isAuthenticated()">
                    <a href="/members/logout">로그아웃</a>
                </li>
            </ul>
        </div>
        <div class="headerCenter">  <!--로고-->
            <div class="headerLogo">
                <a href="/">
                    <img src="/img/logoTitle.png" alt="homeLogo"/>
                </a>
            </div>
            <div class="searchBtn">
                <form th:action="@{/}" method="get">
                    <input class="search-input" name="searchQuery" type="search" placeholder="강아지를 위해 필요한 것이 무엇인가요?" aria-label="Search">
                    <button class="btnSearch" type="submit"><span class="material-symbols-outlined">search</span></button></input>
                </form>
            </div>
        </div>

        <div class="headerCategory">  <!--카테고리-->
            <ul class="menuCategory">
                <li class="menu"><a href="/category/food">강아지 사료</a></li>
                <li class="menu"><a href="/category/snack">영양간식</a></li>
                <li class="menu"><a href="/category/bath">목욕용품</a></li>
                <li class="menu"><a href="/category/clothes">장난감/옷</a></li>
                <li class="menu"><a href="/category/stuff">강아지 잡화</a></li>
            </ul>

        </div>
    <hr style="margin: 0">
</div>
</html>