body{
    font-family: 'Noto Sans KR', sans-serif;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
}

.content-wrap{
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}


