body{
    font-family: 'Noto Sans KR', sans-serif;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    min-width: 1200px;
}

.content-wrap{
    min-height: 860px;
    position: relative;
    padding-bottom: 60px;
}

 .repImg{
     width: 236px;
     height: 240px;
     border-radius: 5%;
     border: 1px solid #6258585F;
 }
.row{
    width: 1350px;
    margin: 20px auto 6px auto;
    display: flex;
}
.main_item{
    margin: 0 30px 30px 0;
    display: flex;
}
.main_item_dtl{
    text-align: center;
    margin-top: 10px;
    width: 240px;
}
.main_item_status{
    text-align: center;
    margin-top: 5px;
}
.badge{
    font-size: 16px;
    letter-spacing: 3px;
}
.category_title{
    border-bottom: 5px solid #e87186;
    display: inline-block;
    padding: 0 0 8px 0;
    margin-bottom: 40px;
}
.category_icon{
    margin-left: 10px;
    width: 35px;
    height: 35px;
}
.New_wrap{
    width: 70%;
    min-width: 800px;
    margin: 35px auto 40px auto;
}
.New_tableWrap{
    padding: 50px;
}

.New_tableContent {
    width: 100%;
    border: 1px solid #bbb5b5;
    border-collapse: collapse;
}
.mng_wrap{
    width: 66%;
    margin: 0 auto;
}
.table{
    text-align: center;
}
.item_wrap{
    width: 1350px;
    margin: 0 auto;
}

.member_join_wrap{
    margin: 0 auto; width: 1000px;
}
.member_join_title{
    padding: 20px 5px 0;
    margin: 0 0 20px;
    border-bottom: 1px solid gray;
}
.member_join_wrap .member_join_content{
    width: 800px;
    padding: 30px 50px;
    margin: 0 auto;
}
.info-box .info-box-sec {
    margin-bottom: 24px;
}
.info-box-sec {
    font-size: 20px;
}
.info-box-sec .form-input{
    width: 400px;
    height: 40px;
    border-radius: 13px;
    font-size: 16px;
    padding: 5px 10px;
    border-color: rgba(128, 128, 128, 0.15);
    outline-color: #d2a7ac;
}
/*대표이미지*/
.repImg{
    width: 240px;
    height: 250px;
    border-radius: 5%;
    border: 1px solid #6258585F;
}
.btn-font{
    font-size: 20px;
}
.page-item.active .page-link{
    background-color: #efc8cd;
    border-color: #f1c8c8;
}
.page-link{
    color: #2f2e2e;
}
.item_title{
    margin-bottom: 7px;
}