<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<!--사용자 css 추가-->
<th:block layout:fragment="css">

</th:block>

<div layout:fragment="content">
  <div style="width: 1350px; margin: 35px auto 40px auto;">
    <h3 class="category_title line">목욕용품</h3>
  </div>
  <div class="row">
    <th:block th:each="item, status: ${items.getContent()}">
      <div class="main_item">
        <div class="product-container">
          <a th:href="'/item/' + ${item.id}" class="text-dark">
            <img th:src="${item.imgUrl}" class="repImg" th:alt="${item.itemNm}" height="400">
            <div class="main_item_dtl">
              <h4 class="">[[${item.itemNm}]]</h4>
              <strong class=""><span>[[${item.price}]]원</span></strong>
            </div>
            <div class="main_item_status">
              <span th:if="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="badge badge-primary mgb-15" style="background: #cbc3c3;">
                판매중
              </span>
              <span th:unless="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="badge btn-danger mgb-15">
                품절
              </span>
            </div>
          </a>
        </div>
      </div>
    </th:block>
  </div>

</div>
</html>